<div class="h-screen bg-primary py-3 w-72 fixed md:relative top-0 left-0 border md:border-0 border-gray-600 shadow-2xl md:shadow-none">
  <div class="w-full">
    <div class="flex text-white text-3xl font-semibold items-center py-2 px-2">
      <span class="block cursor-pointer text-secondary"><i class="fas fa-list"></i></span>
      <span class="ml-2 block mx-auto">Dashboard</span>
    </div>
    <span class="text-left mt-3 bg-white text-primary flex items-center px-2 py-3" *ngIf="user">
      <img class="w-8 h-8" src="./../../../../assets/admin_avatar.png" alt="">
      <span class="ml-2 uppercase">
        <span class="font-bold">{{ user.name }}</span>
        <span class="text-xs">{{ user.role }}</span>
      </span>
    </span>
  </div>
  <nav>
    <a
      [routerLink]="item.path"
      routerLinkActive="active"
      (click)="item.notifications = 0"
      *ngFor="let item of menuItems"
      class="menu-item"
    >
      <div>
        <i [class]="item.icon"></i>
        <span class="inline-block text-gray-200 capitalize mx-3">{{ item.name }}</span>
      </div>
      <span *ngIf="item.notifications" class="w-6 h-6 bg-secondary rounded-full text-primary flex justify-center items-center">
        {{ item.notifications }}
      </span>
    </a>
    <a (click)="logout()" class="menu-item">
      <div>
        <i class="fas fa-sign-out-alt"></i>
        <span class="inline-block text-gray-200 capitalize mx-3">Logout</span>
      </div>
    </a>
  </nav>
</div>
