<div class="px-4 py-2 bg-gray-100 h-full overflow-auto">

  <app-display
    [title]="(store ? store.storeName : '')"
    [charts]="charts"
    [profile]="store ? store.account : null"
    [profileError]="profileError"
    icon="fas fa-store"
  ></app-display>

  <div>
    <div class="my-6">
      <div class="flex justify-between items-center">
        <span class="text-2xl text-primary font-bold block mb-4 capitalize">
          <i class="fas fa-boxes"></i>
          {{ 'products' | translate }} <span *ngIf="products && products.length">{{ products.length + " " + ('of' | translate) + " " + productsCount  }}</span>
        </span>
        <span class="link" [routerLink]="['/dashboard/products/list']" [queryParams]="{ searchQuery: storeSearchQuery }">{{ 'show_more' | translate }}</span>
      </div>
      <app-loading-line [loading]="!products && !productsError"></app-loading-line>
    </div>

    <app-alert message="productsError" type="danger" *ngIf="productsError"></app-alert>
    <app-alert message="No product in this store yet" type="info" class="my-3 block" *ngIf="(!products || !products.length) && !productsError" ></app-alert>

    <div class="py-4 grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-8 gap-4" *ngIf="products && products.length">
      <div class="card pb-[100%] relative" [routerLink]="['/dashboard/products/display']" [queryParams]="{id: product.id}" *ngFor="let product of products">
        <div class="h-full w-full absolute flex flex-col min-h-0">
          <div class="bg-black flex-grow min-h-0 overflow-hidden flex items-center justify-center rounded-tl-lg rounded-tr-lg">
            <img class="" [src]="photo(product)" alt="">
          </div>
          <div class="p-2">
            <span class="block text-lg">{{ product.name }}</span>
            <div class="text-right text-sm">
              <span>{{ product.price }} {{ 'SAR' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="my-6">
      <div class="flex justify-between items-center">
        <span class="text-2xl text-primary font-bold block mb-4 capitalize">
          <i class="fas fa-truck"></i>
          {{ 'delivery men' | translate }} <span *ngIf="deliveryMen && deliveryMen.length">{{ deliveryMen.length + " " + ('of' | translate) + " " + deliveryMenCount }}</span>
        </span>
        <span class="link" [routerLink]="['/dashboard/delivery-men/list']" [queryParams]="{ searchQuery: storeSearchQuery }" >{{ 'show_more' | translate }}</span>
      </div>
      <app-loading-line [loading]="!deliveryMen && !deliveryManError"></app-loading-line>
    </div>

    <app-alert message="productsError" type="danger" *ngIf="deliveryManError"></app-alert>
    <app-alert message="No product in this store yet" type="info" class="my-3 block" *ngIf="(!deliveryMen || !deliveryMen.length) && !deliveryManError" ></app-alert>

    <div class="py-4 grid grid-cols-3 md:grid-cols-4 gap-4 lg:grid-cols-5 xl:grid-cols-8" *ngIf="deliveryMen && deliveryMen.length">

      <div class="card pb-[100%] relative" [routerLink]="['/dashboard/delivery-men/display']" [queryParams]="{id: deliveryMan.id}" *ngFor="let deliveryMan of deliveryMen">
        <div class="h-full w-full absolute flex flex-col min-h-0">
          <div class="bg-white flex-grow min-h-0 overflow-hidden flex items-center justify-center rounded-tl-lg rounded-tr-lg">
            <img class="" src="./../../../../../assets/delivery-man.png" alt="">
          </div>
          <div class="p-2">
            <span class="block text-lg">{{ deliveryMan.account.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div>
    <app-orders-list
      (onPageChange)="getOrders($event)"
      [limit]="ordersLimit" [error]="ordersError"
      [count]="ordersCount"
      [orders]="orders"
    ></app-orders-list>
  </div>

</div>
