<div class="p-4 bg-gray-100 h-full overflow-auto">
  <div>
    <span class="text-3xl"><i class="fas fa-store"></i> Store Details / {{ store ? store.storeName : '' }}</span>
  </div>
  <div class="grid grid-cols-7 mt-5 gap-5">
    <div class="card col-span-1">
      <app-loading-line [loading]="!store"></app-loading-line>
      <div class="card-title">
        <span>Owner</span>
      </div>
      <div class="flex justify-center my-8">
        <img src="./../../../../../assets/admin_avatar.png" class="w-20 h-20 rounded-full ring-1 ring-gray-200" alt="">
      </div>
      <div class="pl-2 my-8">
        <span class="user-info "><i class="fas fa-user"></i> {{ store ?store.account.name : '...' }} </span>
        <span class="user-info"><i class="fas fa-at"></i> {{ store ?store.account.email : '...' }}</span>
        <span class="user-info"><i class="fas fa-location-dot"></i> {{ store ? store.account.address : '...' }}</span>
        <span class="user-info"><i class="fas fa-phone"></i> {{ store ? store.account.phoneNumber : '...' }}</span>
      </div>
    </div>

    <div class="card col-span-3">
      <app-loading-line [loading]="storeSellsLoading"></app-loading-line>
      <div class="card-title">
        <span>Sells</span>
      </div>
      <div *ngIf="!storeSellsLoading" class="px-2  flex flex-col justify-end">
        <app-line-chart
          [categories]="sellsChart.categories"
          [title]="sellsChart.title"
          [dataName]="sellsChart.dataName"
          [values]="sellsChart.values"
        >
        </app-line-chart>
      </div>
    </div>

    <div class="card col-span-3">
      <app-loading-line [loading]="ordersLoading"></app-loading-line>
      <div class="card-title">
        <span>Orders</span>
      </div>
      <div *ngIf="!ordersLoading">
        <app-radial-bar
          [labels]="ordersChart.labels"
          [colors]="ordersChart.colors"
          [max]="ordersChart.max"
          [values]="ordersChart.values"
        >
        </app-radial-bar>
      </div>
    </div>
  </div>

  <div>
    <div class="my-6">
      <div class="flex justify-between items-center">
        <span class="text-2xl text-primary font-bold block mb-4"><i class="fas fa-boxs"></i> Products</span>
        <span class="text-primary underline cursor-pointer">show more</span>
      </div>
      <app-loading-line [loading]="!products"></app-loading-line>
    </div>
    <app-alert message="No product in this store yet" type="info" class="my-3 block" *ngIf="!products || !products.length" ></app-alert>
    <div class="py-4 grid grid-cols-8 gap-4" *ngIf="products && products.length">
      <div class="card pb-[100%] relative" *ngFor="let product of products">
        <div class="h-full w-full absolute flex flex-col min-h-0">
          <div class="bg-black flex-grow min-h-0 overflow-hidden flex items-center justify-center rounded-tl-lg rounded-tr-lg">
            <img class="" [src]="productPhoto(product)" alt="">
          </div>
          <div class="p-2">
            <span class="block text-lg">{{ product.name }}</span>
            <div class="text-right text-sm">
              <span>{{ product.price }} SAR</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="my-6">
      <div class="flex justify-between items-center">
        <span class="text-2xl text-primary font-bold block mb-4"><i class="fas fa-boxs"></i> Delivery men</span>
        <span class="text-primary underline cursor-pointer">show more</span>
      </div>
      <app-loading-line [loading]="!deliveryMen"></app-loading-line>
    </div>
    <app-alert message="No product in this store yet" type="info" class="my-3 block" *ngIf="!deliveryMen || !deliveryMen.length" ></app-alert>
    <div class="py-4 grid grid-cols-8 gap-4" *ngIf="deliveryMen && deliveryMen.length">

      <div class="flex flex-col items-center" *ngFor="let deliveryMan of deliveryMen">
        <img class="w-36 h-36 rounded-full border-2 border-gray-300 shadow-xl" src="./../../../../../assets/delivery-man.png" alt="">
        <div class="text-center pt-5">
          <span class="block text-xl">{{ deliveryMan.account.name }}</span>
        </div>
      </div>
    </div>
  </div>


  <div>
    <app-orders-list [orders]="orders"></app-orders-list>
  </div>


  <!-- <div class="bg-red-500 h-60 my-4">
  </div> -->
</div>
