<div class="p-4 bg-gray-100 h-full overflow-auto">
  <div>
    <span class="text-3xl"><i class="fas fa-store"></i> Store Details / {{ store ? store.storeName : '' }}</span>
  </div>
  <div class="grid grid-cols-7 mt-5 gap-5">
    <div class="card col-span-1">
      <div class="h-1 w-1/2 mx-auto bg-primary" [ngClass]="{'w-1/2 animate-ping': !store, 'w-full': store}"></div>
      <div class="card-title">
        <span>Owner</span>
      </div>
      <div class="flex justify-center my-8">
        <img src="./../../../../../assets/admin_avatar.png" class="w-20 h-20 rounded-full ring-1 ring-gray-200" alt="">
      </div>
      <div class="pl-2 my-8">
        <span class="user-info "><i class="fas fa-user"></i> {{ store ?store.account.name : '...' }} </span>
        <span class="user-info"><i class="fas fa-at"></i> {{ store ?store.account.email : '...' }}</span>
        <span class="user-info"><i class="fas fa-location-dot"></i> {{ store ? store.account.address : '...' }}</span>
        <span class="user-info"><i class="fas fa-phone"></i> {{ store ? store.account.phoneNumber : '...' }}</span>
      </div>
    </div>

    <div class="card col-span-3">
      <div class="h-1 mx-auto bg-primary " [ngClass]="{'w-1/2 animate-ping': storeSellsLoading, 'w-full': !storeSellsLoading}"></div><div class="card-title">
        <span>Sells</span>
      </div>
      <div *ngIf="!storeSellsLoading" class="px-2  flex flex-col justify-end">
        <apx-chart
          [series]="storeSellsChartOptions.series"
          [chart]="storeSellsChartOptions.chart"
          [xaxis]="storeSellsChartOptions.xaxis"
          [dataLabels]="storeSellsChartOptions.dataLabels"
          [grid]="storeSellsChartOptions.grid"
          [stroke]="storeSellsChartOptions.stroke"
          [title]="storeSellsChartOptions.title"
        ></apx-chart>
      </div>
    </div>
    <div class="card col-span-3">
      <div class="h-1 mx-auto bg-primary " [ngClass]="{'w-1/2 animate-ping': ordersLoading, 'w-full': !ordersLoading}"></div>
      <div class="card-title">
        <span>Orders</span>
      </div>
      <div *ngIf="!ordersLoading">
        <apx-chart
          [series]="ordersChartOptions.series"
          [chart]="ordersChartOptions.chart"
          [plotOptions]="ordersChartOptions.plotOptions"
          [labels]="ordersChartOptions.labels"
          [legend]="ordersChartOptions.legend"
          [colors]="ordersChartOptions.colors"
          [responsive]="ordersChartOptions.responsive"
        ></apx-chart>
      </div>
    </div>
  </div>

  <div>
    <div class="my-6">
      <div class="flex justify-between items-center">
        <span class="text-2xl text-primary font-bold block mb-4"><i class="fas fa-boxs"></i> Products</span>
        <span class="text-primary underline cursor-pointer">show more</span>
      </div>
      <div class="h-[2px] mx-auto bg-primary " [ngClass]="{'w-1/2 animate-pint': !products, 'w-full': products}"></div>
    </div>
    <app-alert message="No product in this store yet" type="info" class="my-3 block" *ngIf="!products || !products.length" ></app-alert>
    <div class="py-4 grid grid-cols-8 gap-4" *ngIf="products && products.length">
      <div class="card pb-[100%] relative" *ngFor="let product of products">
        <div class="h-full w-full absolute flex flex-col min-h-0">
          <div class="bg-black flex-grow min-h-0 overflow-hidden flex items-center justify-center rounded-tl-lg rounded-tr-lg">
            <img class="" [src]="productPhoto(product)" alt="">
          </div>
          <div class="p-2">
            <span class="block text-lg">{{ product.name }}</span>
            <div class="text-right text-sm">
              <span>{{ product.price }} SAR</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="my-6">
      <div class="flex justify-between items-center">
        <span class="text-2xl text-primary font-bold block mb-4"><i class="fas fa-boxs"></i> Delivery men</span>
        <span class="text-primary underline cursor-pointer">show more</span>
      </div>
      <div class="h-[2px] mx-auto bg-primary " [ngClass]="{'w-1/2 animate-pint': !products, 'w-full': products}"></div>
    </div>
    <app-alert message="No product in this store yet" type="info" class="my-3 block" *ngIf="!deliveryMen || !deliveryMen.length" ></app-alert>
    <div class="py-4 grid grid-cols-8 gap-4" *ngIf="deliveryMen && deliveryMen.length">

      <div class="flex flex-col items-center" *ngFor="let deliveryMan of deliveryMen">
        <img class="w-36 h-36 rounded-full border-2 border-gray-300 shadow-xl" src="./../../../../../assets/delivery-man.png" alt="">
        <div class="text-center pt-5">
          <span class="block text-xl">{{ deliveryMan.account.name }}</span>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="my-6">
      <div class="flex justify-between items-center">
        <span class="text-2xl text-primary font-bold block mb-4"><i class="fas fa-boxs"></i> Orders</span>
        <span class="text-primary underline cursor-pointer">show more</span>
      </div>
      <div class="h-[2px] mx-auto bg-primary " [ngClass]="{'w-1/2 animate-pint': !products, 'w-full': products}"></div>
    </div>
    <app-alert message="No product in this store yet" type="info" class="my-3 block" *ngIf="!deliveryMen || !deliveryMen.length" ></app-alert>
    <div class="" *ngIf="deliveryMen && deliveryMen.length">
      <div class="my-3 bg-white border border-gray-500 shadow-lg p-3 rounded-xl" *ngFor="let order of orders">
        <div class="flex justify-between">
          <span class="block text-lg font-bold">Order #{{ order.id }} <span class="uppercase font-normal">( {{ order.state }} )</span></span>
          <div class="flex items-center">
            <span class="block mx-3">{{ order.createdAt | date: 'medium' }}</span>
            <button
              (click)="showOrder != order.id ? showOrder = order.id : showOrder = 0"
              class="bg-white hover:bg-gray-500 active:bg-gray-500 p-2 rounded-full"
            >
              <span *ngIf="showOrder != order.id"><i class="fas fa-chevron-down"></i></span>
              <span *ngIf="showOrder == order.id"><i class="fas fa-chevron-up"></i></span>
            </button>
          </div>
        </div>
        <div class="order-details overflow-hidden" [style]="{height: showOrder == order.id ? 'auto' : '0px'}">
          <table class="w-full mt-2 border-b border-gray-400 text-center">
            <thead class="text-left">
              <tr>
                <th>product</th>
                <th>price</th>
                <th>quantity</th>
                <th>unit price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let productOrder of order.productOrders">
                <td>{{ productOrder.product.name }}</td>
                <td>{{ productOrder.product.price }}</td>
                <td>{{ productOrder.quantity }}</td>
                <td>{{ productOrder.product.price * productOrder.quantity }}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="text-right font-bold">Total</td>
                <td class="font-bold">{{ order.amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="bg-red-500 h-60 my-4">
  </div> -->
</div>
