
  <div class="">
    <span class="text-3xl uppercase my-2"><i [class]="icon + ' mx-2'"></i>{{ title }}</span>
    <hr>
  </div>
  <div class="grid grid-cols-7 mt-5 gap-5">
    <div class="card col-span-1">
      <app-loading-line [loading]="!profile && profileError"></app-loading-line>
      <div class="card-title">
        <span>Owner</span>
      </div>
      <div class="flex justify-center my-8">
        <img src="./../../../../../assets/admin_avatar.png" class="w-20 h-20 rounded-full ring-1 ring-gray-200" alt="">
      </div>
      <div class="px-2">
        <app-alert type="danger" [message]="profileError" *ngIf="profileError"></app-alert>
      </div>
      <div class="pl-2 my-8" *ngIf="profile">
        <span class="user-info "><i class="fas fa-user"></i> {{ profile.name }} </span>
        <span class="user-info"><i class="fas fa-at"></i> {{ profile.email }}</span>
        <span class="user-info"><i class="fas fa-location-dot"></i> {{ profile.address }}</span>
        <span class="user-info"><i class="fas fa-phone"></i> {{ profile.phoneNumber }}</span>
      </div>
    </div>

  <div class="card col-span-3" *ngFor="let chart of charts">
    <app-loading-line [loading]="(!chart.values || !chart.values.length) && !chart.error"></app-loading-line>
    <div class="card-title">
      <span>{{ chart.name }}</span>
    </div>
    <div class="px-2">
      <app-alert type="danger" [message]="chart.error" *ngIf="chart.error"></app-alert>
    </div>
    <div *ngIf="chart.values && chart.values.length" class="px-2 flex flex-col justify-end">
      <app-line-chart
        [categories]="chart.categories"
        [title]="chart.title"
        [dataName]="chart.name"
        [values]="chart.values"
        *ngIf="chart.type == 'line'"
      >
      </app-line-chart>
      <app-radial-bar
        [labels]="chart.categories"
        [colors]="chart.colors"
        [max]="chart.max"
        [values]="chart.values"
        *ngIf="chart.colors && chart.type == 'radial'"
      >
      </app-radial-bar>
    </div>
  </div>
