
  <div class="">
    <span class="text-3xl uppercase my-2"><i [class]="icon + ' mx-2'"></i>{{ title }}</span>
    <hr>
  </div>
  <div class="grid grid-cols-5 md:grid-cols-8 lg:grid-cols-10 xl:grid-cols-12 mt-5 gap-5">
    <div class="card col-span-3 col-start-2 md:col-span-2 lg:col-span-2 xl:col-span-2 md:col-start-1">
      <app-loading-line [loading]="!profile && profileError"></app-loading-line>
      <div class="card-title">
        <span>Owner</span>
      </div>
      <div class="px-2">
        <app-alert type="danger" [message]="profileError" *ngIf="profileError"></app-alert>
      </div>
      <div class="flex items-center my-2 mx-4 md:mx-0 md:block">
        <div class="flex justify-center md:my-8">
          <img src="./../../../../../assets/admin_avatar.png" class="w-20 h-20 rounded-full ring-1 ring-gray-200" alt="">
        </div>
        <div class="pl-4 md:mt-8" *ngIf="profile">
          <span class="user-info "><i class="fas fa-user"></i> {{ profile.name }} </span>
          <span class="user-info"><i class="fas fa-at"></i> {{ profile.email }}</span>
          <span class="user-info"><i class="fas fa-location-dot"></i> {{ profile.address }}</span>
          <span class="user-info"><i class="fas fa-phone"></i> {{ profile.phoneNumber }}</span>
        </div>
      </div>
    </div>

  <div class="card col-span-5 lg:col-span-4 xl:col-span-5" [class]="first ? 'md:col-span-6' : 'md:col-span-8'" *ngFor="let chart of charts; let first = first">
    <app-loading-line [loading]="(!chart.values || !chart.values.length) && !chart.error"></app-loading-line>
    <div class="card-title">
      <span>{{ chart.name }}</span>
    </div>
    <div class="px-2">
      <app-alert type="danger" [message]="chart.error" *ngIf="chart.error"></app-alert>
    </div>
    <div *ngIf="chart.values && chart.values.length" class="px-2 flex flex-col justify-end">
      <app-line-chart
        [categories]="chart.categories"
        [title]="chart.title"
        [dataName]="chart.name"
        [values]="chart.values"
        *ngIf="chart.type == 'line'"
      >
      </app-line-chart>
      <app-radial-bar
        [labels]="chart.categories"
        [colors]="chart.colors"
        [max]="chart.max"
        [values]="chart.values"
        *ngIf="chart.colors && chart.type == 'radial'"
      >
      </app-radial-bar>
    </div>
  </div>
