
<div class="">
  <div class="flex justify-between items-center">
    <span class="text-3xl block uppercase my-2"><i [class]="icon + ' mx-2'"></i>{{ title }}</span>
    <ng-content select=".header-buttons"></ng-content>
  </div>
  <hr>
</div>
<div class="w-full">
  <div class="grid grid-cols-5  mt-5 gap-5">
    <div class="card col-span-5 ">
      <app-loading-line [loading]="!profile && profileError"></app-loading-line>
      <div class="card-title">
        <span>{{ profileTitle | translate}}</span>
      </div>
      <div class="px-2">
        <app-alert type="danger" [message]="profileError" *ngIf="profileError"></app-alert>
      </div>
      <div class="my-2 md:mx-0 md:block">
        <ng-content select=".profile-info" *ngIf="!showDefaultProfileInfo"></ng-content>
        <div class="flex justify-center md:my-8" *ngIf="showDefaultProfileInfo">
          <img src="./../../../../../assets/client.png" class="w-20 h-20 rounded-full ring-1 ring-gray-200" alt="">
        </div>
        <div class="px-4 mt-2 w-full" *ngIf="profile && showDefaultProfileInfo">
          <table class="w-full text-center">
            <tr>
              <td>{{ 'full_name' | translate }}</td>
              <td>{{ profile.name }}</td>
            </tr>
            <tr>
              <td>{{ 'phone_number' | translate }}</td>
              <td>{{ profile.phone }}</td>
            </tr>
            <tr>
              <td>{{ 'email' | translate }}</td>
              <td>{{ profile.email }}</td>
            </tr>
            <tr>
              <td>{{ 'city' | translate }}</td>
              <td>{{ profile.city }}</td>
            </tr>
            <tr>
              <td>{{ 'status' | translate }}</td>
              <td>
                {{ (profile.active == 1 ? 'CREATED'  : 'ENABLED') | translate}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

