<div class="flex items-center ">
  <div class="cursor-pointe " (click)="toggleAudio()">
    <span class="text-lg" *ngIf="!play"><i class="fas fa-play"></i></span>
    <span class="text-lg mx-[1.5px]" *ngIf="play"><i class="fas fa-pause"></i></span>
  </div>
  <div class="mx-4 pb-3 w-40">
    <input
      min="0"
      [max]="duration"
      [(ngModel)]="time"
      type="range"
      class="range-slider"
      (change)="updateAudioPos()"
      (click)="updateAudioPos()"
    />
  </div>
  <span class="text-sm"> {{ getTime() }}</span>
</div>
