<div class="w-full min-h-0 h-full flex flex-col pb-2 bg-gray-100">
  <div class="flex justify-center" *ngIf="loading">
    <div class="h-1 bg-primary animate-ping w-1/2"></div>
  </div>
  <div class="text-center" *ngIf="loading">Loading Messages ...</div>
  <div class="p-1" *ngIf="error">
    <app-alert type="danger" [message]="error"></app-alert>
  </div>
  <div class="h-full flex items-center justify-center" *ngIf="!partnerId">
    <img src="./../../../../assets/chat.svg" class="w-1/2 h-1/2" alt="">
  </div>
  <div class="flex-grow flex flex-col min-h-0" *ngIf="partnerId">
    <div #messagesArea (scroll)="onScroll()" class="flex-grow overflow-y-auto min-h-0 p-4">
      <div *ngFor="let message of messages; let ind = index">
        <div class="flex items-center justify-center relative" *ngIf="allowToShowDate(ind)">
          <span class="bg-gray-100 px-1 z-10 text-xs">{{ message.createdAt | date: 'mediumDate' }}</span>
          <div class="bg-gray-400 w-1/5 h-[1px] absolute"></div>
        </div>
        <app-message-box [partnerId]="partnerId" [message]="message" ></app-message-box>
      </div>
    </div>
    <app-message-form [partnerId]="partnerId" (onMessage)="addMessage($event)"></app-message-form>
  </div>
</div>
