<!-- <div class="grid h-screen flex-col">
  <div class="flex flex-col items-center justify-center bg-primary px-10 py-4">
  </div>
  <div class="flex-grow flex flex-col items-center justify-center px-8 xl:px-56">
    <div class="bg-red-500 h-10 w-10"></div>

</div> -->
<div class="h-screen flex flex-col sm:flex-row sm:grid sm:grid-cols-3 md:grid-cols-2">
  <div class="bg-primary py-4 px-2 sm:flex sm:items-center sm:justify-center">
    <div class="px-3">
      <span class="block text-3xl md:text-4xl lg:text-5xl font-extrabold text-secondary text-center">
        <span class="block"><i class="fa-solid fa-chart-line"></i></span>
        <span class="block mt-1 md:mt-3">{{ 'app_name_dashboard' | translate }}</span>
      </span>
      <div class="mt-6 bg-secondary h-1 w-full hidden sm:block"></div>
    </div>
  </div>
  <div class="flex-grow col-span-2 md:col-span-1 flex flex-col items-center justify-center">
    <!-- <img class="w-16 sm:w-20" src="./../../../../assets/logo.png" alt=""> -->
    <div class="text-center w-full px-5 sm:px-16">
      <span class="block text-4xl mt-4 font-bold text-primary">{{ 'login' | translate}}</span>
      <app-alert [message]="error" *ngIf="error" [type]="'danger'" class="block my-4"></app-alert>
      <form [formGroup]="form" (ngSubmit)="submit()" class="mt-5 w-full" action="">
        <div>
          <input
            class="custom-input my-4"
            [class.invalid]="email?.dirty && !email?.valid"
            [placeholder]="'email' | translate"
            formControlName="email"
          >
          <span class="text-red-500 text-left text-md block mt-2 pl-1" *ngIf="email?.dirty && !email?.valid">
            <span class="block" *ngIf="email?.hasError('required')">{{ 'phone_number_required' | translate }}</span>
          </span>
        </div>

        <div>
          <input
            class="custom-input my-4"
            [class.invalid]="password?.dirty && !password?.valid"
            type="password"
            [placeholder]="'password' | translate"
            formControlName="password"
          >
          <span class="text-red-500 text-left text-md" *ngIf="password?.dirty && !password?.valid">
            <span class="block" *ngIf="password?.hasError('required')">{{ 'password_required' }}</span>
          </span>
        </div>

        <button
          class="custom-button my-3"
          [disabled]="!form.valid"
        >
          <span *ngIf="loading.signin" ><i class="fas fa-circle-notch fa-spin"></i></span>
          <span *ngIf="!loading.signin" >{{ 'login' | translate }}</span>
        </button>
      </form>
      <div class="">
        <div  *ngIf="loading.socialLogin" class="py-4 w-full flex justify-center items-center">
          <div role="status">
            <svg aria-hidden="true" class="mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <button *ngIf="!loading.socialLogin" (click)="GoogleAuth()" type="button" class="w-full text-white  bg-secondary hover:bg-secondary-50 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center justify-center">
          <svg class="mx-3 w-4 h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
          {{ 'sign_in_Google' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
