<div>
  <div class="my-6">
    <div class="flex justify-between items-center">
      <span class="text-2xl text-primary font-bold block mb-4 capitalize"><i class="fas fa-boxs"></i> {{ 'orders' | translate }} {{ count + " " +  ('of' | translate) + " " + (orders ? orders.length : 0 )}}</span>
      <div class="flex">
        <div
          (click)="changePage(page)"
          class="page-number"
          [class.selected]="currentPage == ind" *ngFor="let page of pages; let ind = index"
        >
          <span>{{ page + 1 }}</span>
        </div>
      </div>
    </div>
    <app-loading-line [loading]="!orders && !error"></app-loading-line>
  </div>

  <app-alert [message]="error" type="danger" *ngIf="error"></app-alert>
  <app-alert message="No product in this store yet" type="info" class="my-3 block" *ngIf="!error && (!orders || !orders.length)" ></app-alert>

  <div class="" *ngIf="orders && orders.length">
    <div class="my-3 bg-white border border-gray-500 shadow-lg p-3 rounded-xl" *ngFor="let order of orders">
      <div class="flex justify-between items-center">
        <span class="block text-lg font-bold capitalize">{{ 'order' | translate }} #{{ order.id }} <span class="uppercase">( {{ order.state | translate }} )</span></span>
        <div class="flex items-center">
          <span class="block mx-3">{{ order.createdAt | date: 'medium' }}</span>
          <span class="block mx-3 link" [routerLink]="['/dashboard/orders/display']" [queryParams]="{id: order.id}">{{ 'show_details' | translate }}</span>
          <button
            (click)="showOrder != order.id ? showOrder = order.id : showOrder = 0"
            class="bg-white hover:bg-gray-200 active:bg-gray-200 py-2 px-3 rounded-full"
          >
            <span *ngIf="showOrder != order.id"><i class="fas fa-chevron-down"></i></span>
            <span *ngIf="showOrder == order.id"><i class="fas fa-chevron-up"></i></span>
          </button>
        </div>
      </div>
      <div class="order-details overflow-hidden" [style]="{height: showOrder == order.id ? 'auto' : '0px'}">
        <table class="w-full mt-2 border-b border-gray-400 text-center">
          <thead class="text-left">
            <tr>
              <th>{{ 'product' | translate }}</th>
              <th>{{ 'price' | translate }}</th>
              <th>{{ 'quantity' | translate }}</th>
              <th>{{ 'unit_price' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productOrder of order.productOrders">
              <td>
                <span class="link" [routerLink]="['/dashboard/products/display']" [queryParams]="{id: productOrder.product.id}">
                  {{ productOrder.product.name }}
                </span>
              </td>
              <td>{{ productOrder.product.price }} SAR</td>
              <td>{{ productOrder.quantity }}</td>
              <td>{{ productOrder.product.price * productOrder.quantity }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="flex justify-end font-bold capitalize">{{ 'total' | translate }}</td>
              <td class="font-bold">{{ order.amount }} SAR</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

