<div class="w-full h-full flex justify-center items-center"  *ngIf='loading'>
    <div class="animate-ping rounded-full h-24 w-24 bg-primary">
    </div>
</div>
<div  class="mx-3 h-screen flex flex-col pb-4" *ngIf='!loading'>
  <div class="my-3">
    <span class="text-3xl uppercase my-2"><i [class]="icon + ' mx-2'"></i>{{ type | translate }} {{ singleName | translate }}</span>
    <hr>
  </div>
  <hr>
  <div class="px-2 mb-1">
    <app-alert [message]="error | translate" type="danger" *ngIf="error"></app-alert>
  </div>
  <form [formGroup]="form" (ngSubmit)="type == 'edit' ? updateData() : storeData()" class="w-full min-h-0 flex-grow" *ngIf="!loading && (type == 'edit') == !!data && headers && headers.length">
    <div class="flex flex-col min-h-0 w-full h-full">
      <div class="flex-grow min-h-0 overflow-y-auto pb-5">
        <div *ngFor="let header of headers" class="px-3 my-2" [class]="[header.width ? 'w-' + header.width : 'w-full']">
          <label *ngIf="!header.hidden && header.type != 'checkbox'" class="block uppercase tracking-wide text-gray-700 text-sm font-bold mt-4 mb-2" [for]="header.name">
            {{ header.title | translate }}
          </label>
          <section [ngSwitch]="header.type">
            <section *ngSwitchCase="header.type == 'image' ? header.type : ''">
              <div class="mt-1 flex flex-col items-center">
                <div class="flex items-center justify-center">
                  <div
                    class="w-32 h-32 flex items-center rounded-full ring-2 ring-gray-300 overflow-hidden"
                    [class]="!errors || !errors[header.name] ? 'bg-gray-300' : 'bg-red-300'"
                  >
                    <img
                      class="w-full min-h-full rounded-full"
                      [src]="getImage(header)"
                      alt=""
                    >
                  </div>
                </div>
                <label [for]="header.name" class="custom-file-button color-transition mt-3 mb-1">
                  <i class="fas fa-upload"></i> {{ 'upload' | translate }}
                </label>
                <input
                  (change)="setImage(header, $event)"
                  type="file"
                  [name]="header.name"
                  [formControlName]="header.name"
                  [id]="header.name"
                  hidden
                >
              </div>
            </section>
            <section *ngSwitchCase="'boolean'">
              <!-- <select
                [formControlName]="header.name"
                [id]="header.name"
                [name]="header.name"
                [class.error]="errors && errors[header.name]"
                *ngIf="header.options"
                class="custom-input"
              >
                <option [value]="false">{{ header.options[0] }}</option>
                <option [value]="true">{{ header.options[1] }}</option>
              </select> -->
            </section>
            <section *ngSwitchCase="'checkbox'">
              <label class="flex items-center">
                <input [formControlName]="header.name" [name]="header.name" [id]="header.name" type="checkbox" class="form-checkbox">
                <span class="ml-2">{{ header.title }}</span>
              </label>
            </section>
            <section *ngSwitchCase="'select-tags'">
              <span
                *ngFor="let tag of header.value; let ind = index"
                class="mr-1 mb-2 inline-block border-2 border-indigo-400 p-2 rounded-lg"
              >
                {{ tag }}
                <span (click)="removeTag(header, ind)" class="inline-block cursor-pointer text-indigo-200 mx-2"><i class="fas fa-times"></i></span>
              </span>
              <select
                (change)="addTag(header, $event)"
                [id]="header.name"
                [name]="header.name"
                [class.error]="errors && errors[header.name]"
                class="custom-input"
                *ngIf="header.selectOptions"
              >
                <option
                  [value]="option[header.selectOptions.valueProperty]"
                  *ngFor="let option of header.selectOptions.options"
                >
                  {{ option[header.selectOptions.nameProperty] }}
                </option>
              </select>
            </section>
            <section *ngSwitchCase="'select'">
              <select
                (change)="fieldChanged(header.name, header.value)"
                [formControlName]="header.name"
                [id]="header.name"
                [name]="header.name"
                (change)="errors[header.name] ? errors[header.name] = undefined : ''"
                [class.error]="errors && errors[header.name]"
                class="custom-input"
                *ngIf="header.selectOptions"
              >
                <option
                  [value]="option[header.selectOptions.valueProperty]"
                  *ngFor="let option of header.selectOptions.options"
                >
                  {{ option[header.selectOptions.nameProperty] }}
                </option>
              </select>
            </section>
            <section *ngSwitchCase="'multi-select'">
              <div class="form-check">
                <input
                  class="appearance-none border-gray-600 border-2 h-4 w-4 rounded-sm"
                  type="checkbox"
                  value=""
                  id="flexCheckCheckedDisabled"
                >
                <label class="form-check-label inline-block text-gray-800 opacity-50" for="flexCheckCheckedDisabled">
                  Disabled checked checkbox
                </label>
              </div>
            </section>
            <section *ngSwitchCase="'textarea'">
              <textarea
                *ngIf="!header.hidden"
                [id]="header.name"
                [name]="header.name"
                [formControlName]="getFullHeaderName(header)"
                (change)="errors[header.name] ? errors[header.name] = undefined : ''"
                [placeholder]="header.title | translate"
                rows="8"
                [class.invalid]="(errors && errors[header.name]) || (formField(header)?.dirty && !formField(header)?.valid)"
                class="custom-input"
              ></textarea>
            </section>
            <div *ngSwitchCase="'input-list'">
              <div class="my-3" *ngFor="let elem of header.value; let ind = index;trackBy:trackByIndex;">
                <div class="flex">
                  <input
                    type="text"
                    [(ngModel)]="header.value[ind]"
                    [id]="header.name + '-' + ind"
                    [name]="header.name + '-' + ind"
                    class="appearance-none block w-full bg-gray-100 text-gray-600 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
                  >
                  <button
                    (click)="addElemToList(header)"
                    type="button"
                    *ngIf="ind == header.value.length - 1"
                    class="border-2 border-indigo-300 text-indigo-300 rounded-lg px-4 ml-2 hover:bg-indigo-300 hover:text-white"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                  <button
                    (click)="removeElemFromList(header, ind)"
                    type="button"
                    *ngIf="ind != 0 || header.value.length > 1"
                    class="border-2 border-red-300 text-red-300 rounded-lg px-4 ml-2 hover:bg-red-300 hover:text-white"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
            </div>
            <section *ngSwitchCase="'map'" class="my-2" >
              <div class="flex justify-center" *ngIf="!maps || !maps[getFullHeaderName(header)] || maps[getFullHeaderName(header)]['loading']">
                <div class="bg-primary h-1 w-1/2 animate-ping"></div>
              </div>
              <div class="w-full h-72" [id]="getFullHeaderName(header)"></div>
              <input
                *ngIf="maps && maps[getFullHeaderName(header)]"
                [id]="getFullHeaderName(header) + 'input'"
                [name]="getFullHeaderName(header)"
                [value]="maps[getFullHeaderName(header)]['stringAddress']"
                type="text"
                [placeholder]="header.title | translate "
                disabled
                class="custom-input"
              >
            </section>
            <section *ngSwitchDefault>
              <input
                *ngIf="!header.hidden"
                [id]="getFullHeaderName(header)"
                [name]="getFullHeaderName(header)"
                [formControlName]="getFullHeaderName(header)"
                [type]="header.type"
                [placeholder]="header.title | translate"
                (change)="errors[header.name] = undefined"
                [class.invalid]="(errors && errors[header.name]) || (formField(header)?.dirty && !formField(header)?.valid)"
                class="custom-input"
              >
            </section>
          </section>
          <span [class.text-center]="header.type == 'image'" *ngIf="errors && errors[header.name]" class="pl-1">
            <span class="text-red-500 text-sm italic" *ngFor="let err of errors[header.name]">{{ err }}</span>
          </span>
          <div [class.text-center]="header.type == 'image'" *ngIf="(header.type == 'image' || formField(header)?.dirty) && !formField(header)?.valid" class="pl-1 w-full">
            <span class="text-red-500 text-sm italic" *ngFor="let err of formFieldErrors(header)">{{ err | translate: {entity: singleName | translate} }}</span>
          </div>
          <div *ngIf="header.type == 'map' && (maps && maps[getFullHeaderName(header)] && !maps[getFullHeaderName(header)]['stringAddress'])" class="pl-1 w-full">
            <span class="text-red-500 text-sm italic">{{ 'address_required' | translate }}</span>
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="!isFormValid()" class="custom-button" >
        <span *ngIf="saveLoading"><i class="fas fa-circle-notch fa-spin"></i></span>
        <span *ngIf="!saveLoading">{{ 'save' | translate}}</span>
      </button>
    </div>
  </form>
</div>
