<div class="">
  <div class="bg-white w-full px-4 py-2">
    <span class="text-3xl uppercase my-2"><i [class]="icon + ' mx-2'"></i>List of {{ pluralName }}</span>
    <hr>
  </div>
  <div class="">
    <div class="flex justify-end items-center px-4">
      <span class="nowrap mr-1">Per page</span>
      <select name="limit" (change)="getData()" [(ngModel)]="limit" placeholder="per page" id="sorter">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="20">100</option>
        <option value="20">500</option>
      </select>
      <div class="flex items-center mx-1" *ngIf="showSortFilter">
        <span class="nowrap mr-3">Sort by</span>
        <select name="sortBy" [(ngModel)]="sortBy" (change)="getData()" name="" placeholder="sort by" id="sorter">
          <option class="uppercase" [value]="header.name" *ngFor="let header of sortableHeaders()">{{ header.title }}</option>
        </select>
      </div>
      <div class="mx-1" *ngIf="showSortFilter">
        <select name="sortDir" [(ngModel)]="sortDir" (change)="getData()">
          <option value="1">ASC</option>
          <option value="-1">DESC</option>
        </select>
      </div>
      <div class="flex mx-1">
        <input class="custom-input mx-1" (keyup.enter)="getData()" name="searchQuery" [(ngModel)]="searchQuery" type="text" placeholder="search">
        <button (click)="getData()" class="outline-button color-transition"><i class="fas fa-search"></i></button>
      </div>
      <div>
        <button
          [routerLink]="[createLink]"
          *ngIf="showCreateButton"
          class="outline-button"
        >
          <i class="fas fa-plus mx-1"></i> Create {{ singleName }}
        </button>
      </div>
      <div>
        <button
          (click)="getData()"
          class="outline-button"
        >
          <i class="fas fa-sync-alt mx-1"></i> Refresh
        </button>
      </div>
    </div>

    <div class="my-3 px-4" >
      <app-alert title="Success" [message]="success" type="success" *ngIf="success"></app-alert>
      <app-alert title="Error" [message]="error" type="danger" *ngIf="error" ></app-alert>
    </div>
    <div class="flex flex-col mt-4 border-t-2 border-gray-200 px-4">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <div class="bg-white py-3 px-2 flex items-center justify-between border-t border-gray-200">
              <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                <button
                  [class.disabled]="!canPrevious()"
                  [disabled]="!canPrevious()"
                  (click)="previousPage()"
                  class="pagination-button color-transition"
                >
                  <i class="fas fa-arrow-left mx-1"></i> Previous
                </button>
                <nav class="relative z-0 inline-flex rounded-md shadow-sm" aria-label="Pagination">
                  <a
                    [class.active]="currentPage == page"
                    (click)="currentPage = page;getData()"
                    *ngFor="let page of pages"
                    class="pagination-number"
                  >
                    {{ page }}
                  </a>
                </nav>
                <button
                  [class.disabled]="!canNext()"
                  [disabled]="!canNext()"
                  (click)="nextPage()"
                  class="pagination-button color-transition"
                >
                  Next <i class="fas fa-arrow-right mx-1"></i>
                </button>
              </div>
            </div>
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-primary">
                <tr>
                  <th
                    *ngFor="let header of headers"
                    scope="col"
                    class="py-3 px-2 text-center text-xs font-medium  text-white uppercase tracking-wider"
                  >
                    {{ header.title }}
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="data && data.length" class="bg-white divide-y divide-gray-200">
                <tr [class.bg-gray-100]="ind % 2" *ngFor="let d of data; let ind = index">
                  <td class="py-4 whitespace-nowrap text-center px-2 border-l-2 border-gray-200" *ngFor="let header of headers">
                    <section [ngSwitch]="header.type">
                      <img *ngSwitchCase="'image'" [src]="d[header.name]" class="h-10 w-10 bg-gray-500 rounded-full mx-auto ring-2 ring-gray-300" alt="">
                      <span
                        *ngSwitchCase="'boolean'"
                        class="p-2 px-3 inline-flex cursor-pointer text-sm leading-5 font-semibold rounded-full"
                        [ngClass]="[(header.reverseBooleanColors ? !d[header.name] : d[header.name]) ? 'bg-green-100' : 'bg-red-100']"
                      >
                        {{ getHeaderValue(d, header, header.type) }}
                      </span>
                      <span *ngSwitchCase="'date'"> {{ getHeaderValue(d, header, header.type) | date: "medium" }} </span>
                      <div class="text-sm text-gray-900" *ngSwitchDefault>{{ getHeaderValue(d, header, header.type) | resumeText: header.maxLength ? header.maxLength : null }}</div>
                    </section>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right">
                    <button
                      *ngFor="let button of displayedButtons"
                      class="row-btn color-transition hover:bg-primary hover:text-white"
                      (click)="handleButtonEvent(button, d)"
                    >
                      <i [class]="button.icon"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf='!data && !error' class="w-full text-center">
              <span class="animate-ping inline-flex h-2 w-full bg-purple-400 opacity-75"></span>
            </div>
            <app-alert [message]="error" type="danger" *ngIf="!data && error" class="block mt-2" ></app-alert>
            <app-alert title="Empty Result" message="No data found (0)" type="info" class="block mt-2" *ngIf="data && !data.length"></app-alert>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
