<div class="h-full flex flex-col">
  <div class="bg-white w-full px-4 py-2">
    <span class="text-3xl uppercase my-2"><i [class]="icon + ' mx-2'"></i>{{ 'list_of' | translate }} {{ pluralName | translate }}</span>
    <hr>
  </div>
  <div class="flex-grow flex flex-col min-h-0 my-3 px-6 f">
    <div class="bg-gray-100 border border-gray-400 rounded-xl px-3 py-1 my-2">
      <div class="grid grid-cols-3 gap-4 my-3">
        <input
          class="search-input mx-1 "
          (keyup.enter)="getData()"
          (keyup)="setSearchHeaderValue(header, $event)"
          [name]="header.name"
          [value]="getSearchHeaderValue(header)"
          [type]="header.type"
          [placeholder]="header.title | translate"
          *ngFor="let header of searchHeaders"
        >
      </div>
      <div class="flex justify-end items-center my-3">
        <div class="flex items-center">
          <span class="nowrap mx-2 block">{{ 'per_page' | translate }}</span>
          <select name="limit" class="mx-1 px-1 appearance-none" (change)="getData()" [(ngModel)]="limit" placeholder="per page" id="sorter">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="50">50</option>
          </select>
        </div>

        <button
          [routerLink]="[createLink]"
          [queryParams]="createLinkQueryId ? {id: createLinkQueryId} : {}"
          *ngIf="showCreateButton"
          class="outline-button mx-1"
        >
          <i class="fas fa-plus mx-2"></i> {{ 'create' | translate }} {{ singleName | translate }}
        </button>
        <div class="flex items-center mx-1" *ngIf="showSortFilter">
          <span class="nowrap mx-3 capitalize">{{ 'sort_by' | translate }}</span>
          <select name="sortBy" [(ngModel)]="sortBy" (change)="getData()" name="" placeholder="sort by" id="sorter">
            <option class="uppercase" [value]="header.name" *ngFor="let header of sortableHeaders()">{{ header.title }}</option>
          </select>
        </div>
        <div class="mx-1" *ngIf="showSortFilter">
          <select name="sortDir" [(ngModel)]="sortDir" (change)="getData()">
            <option value="1">ASC</option>
            <option value="-1">DESC</option>
          </select>
        </div>

        <button (click)="getData()" class="outline-button color-transition mx-2"><i class="fas fa-search mx-1"></i> {{ 'search' | translate }}</button>

        <button
          (click)="refresh()"
          class="outline-button mx-1"
        >
          <i class="fas fa-sync-alt mx-2"></i> {{ 'refresh' | translate }}
        </button>
      </div>
    </div>
    <div class="my-2 px-4" *ngIf="success || error">
      <app-alert title="Success" [message]="success" type="success" *ngIf="success"></app-alert>
      <app-alert title="Error" [message]="error" type="danger" *ngIf="error" ></app-alert>
    </div>
    <div class="flex justify-end my-2">
      <button
        class="outline-button mx-1 capitalize"
        (click)="handleButtonEvent(button, null)"
        [disabled]="!checkedRows.length"
        *ngFor="let button of tableButtons"
      >
        <i class="mx-2" [class]="button.icon"></i>
        {{ button.title + '' | translate }}
      </button>
    </div>
    <div class="flex justify-between my-2">
      <button
        [class.disabled]="!canPrevious()"
        [disabled]="!canPrevious()"
        (click)="previousPage()"
        class="pagination-button color-transition capitalize"
      >
        <i class="fas fa-arrow-right mx-1"></i> {{ 'previous' | translate}}
      </button>
      <nav class="relative z-0 inline-flex rounded-md shadow-sm" aria-label="Pagination">
        <a
          [class.active]="currentPage == page + 1"
          (click)="currentPage = page + 1;getData()"
          *ngFor="let page of pages"
          class="pagination-number"
        >
          {{ page + 1 }}
        </a>
      </nav>
      <button
        [class.disabled]="!canNext()"
        [disabled]="!canNext()"
        (click)="nextPage()"
        class="pagination-button color-transition capitalize"
      >
        {{'next' | translate}} <i class="fas fa-arrow-left mx-1"></i>
      </button>
    </div>
    <div class="flex-grow my-2 overflow-y-auto relative min-h-0 ">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-primary sticky">
          <tr>
            <th *ngIf="tableButtons && tableButtons.length" >
              <input [checked]="checkedRows && data && checkedRows.length == data.length" (change)="checkAllRows($event)" class="mx-2"  type="checkbox">
            </th>
            <th
              *ngFor="let header of tableHeaders"
              scope="col"
              class="py-3 px-2 text-center text-xs font-medium  text-white uppercase tracking-wider"
            >
              {{ header.title | translate }}
            </th>
            <th scope="col" class="relative px-6 py-3">
            </th>
          </tr>
        </thead>
        <tbody *ngIf="data && data.length" class="bg-white divide-y divide-gray-200">
          <tr [class.bg-gray-100]="ind % 2" *ngFor="let d of data; let ind = index">
            <td class="text-center" *ngIf="tableButtons && tableButtons.length">
              <input [checked]="checkedRows.includes(d[primaryKey])" class="mx-2" (change)="checkRow($event, d)"  type="checkbox">
            </td>
            <td class="py-4 whitespace-nowrap text-center px-2 border-l-2 border-gray-200" *ngFor="let header of tableHeaders">
              <section [ngSwitch]="header.type">
                <img *ngSwitchCase="'image'" [src]="d[header.name]" class="w-10 h-10 rounded-full mx-auto ring-2 ring-gray-300" alt="">
                <input  *ngSwitchCase="'color'" class="h-8 type-color" type="color" name="" [value]="d[header.name]" disabled  id="">

                <img *ngSwitchCase="'cover'" [src]="d[header.name]" class="w-auto h-20 mx-auto" alt="">
                <span
                  *ngSwitchCase="'boolean'"
                  class="p-2 px-3 inline-flex cursor-pointer text-sm leading-5 font-semibold rounded-full"
                  [ngClass]="[(header.reverseBooleanColors ? !d[header.name] : d[header.name]) ? 'bg-green-100' : 'bg-red-100']"
                >
                  {{ getHeaderValue(d, header, header.type) }}
                </span>
                <span [class]="'tag ' + header.tagsColors[getHeaderValue(d, header, header.type) == 1 ? 'CREATED' : 'ENABLED']" *ngSwitchCase="'tag'">{{ (getHeaderValue(d, header, header.type) == 1 ? 'CREATED' : 'ENABLED' )| translate }}</span>
                <span *ngSwitchCase="'date'"> {{ getHeaderValue(d, header, header.type) | date: "medium" }} </span>
                <div class="text-sm text-gray-900" *ngSwitchDefault>{{ getHeaderValue(d, header, header.type) | translate | resumeText: header.maxLength ? header.maxLength : null }}</div>
              </section>
            </td>
            <td>
              <div class="w-full flex justify-center">
                <button
                  class="row-btn color-transition hover:bg-primary hover:text-white"
                  (click)="handleButtonEvent(button, d)"
                  [title]="button.title"
                  *ngFor="let button of displayedButtons"
                >
                  <i [class]="button.icon"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
