<div class="p-4 bg-gray-100 h-full overflow-auto">

  <app-display
    [title]="('client_details' | translate) + ' / ' + (client ? client.account.name : '')"
    [charts]="charts"
    [profile]="(client ? client.account : null)"
    [profileError]="profileError"
  >
    <div class="header-buttons" *ngIf="client">
      <button (click)="enable()" [disabled]="client.account.state == 'ENABLED'" class=" button bg-green-500 hover:bg-green-400 ">{{ 'enable' | translate }}</button>
      <button (click)="block()" [disabled]="client.account.state == 'BLOCKED'" class="button bg-red-500 hover:bg-red-400">{{ 'block' | translate }}</button>
      <button (click)="suspend()" [disabled]="client.account.state == 'SUSPENDED'" class="button bg-yellow-500 hover:bg-yellow-400">{{ 'suspend' | translate }}</button>
    </div>
  </app-display>

  <div>
    <app-orders-list
      [error]="ordersError"
      [count]="ordersCount"
      [orders]="orders"
      [limit]="ordersLimit"
      (onPageChange)="getOrders($event)"
    ></app-orders-list>
  </div>

</div>
