<div class="p-4 bg-gray-100 h-full overflow-auto">

  <app-display
    [title]="('delivery_man_details' | translate) + ' / ' + (deliveryMan ? deliveryMan.account.name : '')"
    [charts]="charts"
    [profile]="(deliveryMan ? deliveryMan.account : null)"
    [profileError]="profileError"
  ></app-display>

  <div>
    <app-orders-list
      [count]="ordersCount"
      [orders]="orders"
      [error]="ordersError"
      [limit]="ordersLimit"
      (onPageChange)="getOrders($event)"
    ></app-orders-list>
  </div>

</div>
