<div class="flex h-screen overflow-hidden">
  <app-menu (showNotifications)="showNotification = true" (hideNotifications)="showNotification = false"  [showNotification]="showNotification" *ngIf="showMenu"></app-menu>
  <div class="h-full min-h-0 overflow-auto flex-grow relative ">
    <div class="fixed p-4 h-screen w-1/3 notification-container" *ngIf="showNotification">
      <div class="h-full rounded-xl p-2 border border-gray-500 bg-white shadow-xl w-full">
        <app-notifications (hideNotifications)="showNotification = false"></app-notifications>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
