.notification-item{
  @apply px-4 py-3 border-b border-gray-300 bg-white cursor-pointer hover:bg-indigo-100
}
.notification-item.selected{
  @apply bg-primary text-white
}

tr{
  @apply border-b border-t border-gray-400
}

td:nth-child(2){
  @apply pb-8 px-10 pt-2
}

td:first-child{
  @apply whitespace-nowrap font-bold align-top pt-2 w-1
}

.outline-button{
  @apply border border-gray-500 py-2 px-4 rounded-lg hover:bg-red-400 hover:text-white bg-white
}
