<div class=" py-2 h-full flex flex-col min-h-0">
  <div class="px-4">
    <div class="flex justify-between  my-2 ">
      <span class="text-3xl capitalize"><i class="fas fa-bell mx-2"></i>{{ 'notifications' | translate }}</span>
      <span class="text-2xl cursor-pointer" (click)="hideNotifications.emit()"><i class="fas fa-times"></i></span>
    </div>
    <hr>
  </div>
  <div class="mt-3">
    <div

      *ngFor="let not of notifications; let ind = index"
    >
      <div class="flex items-center justify-center relative" *ngIf="allowToShowDate(ind)" >
        <span class="bg-gray-100 px-1 z-10 text-xs">{{ not.createdAt | date: 'mediumDate' }}</span>
        <div class="bg-gray-600 w-1/5 h-[1px] absolute"></div>
      </div>
      <div
        (click)="navigate(not.dashLink)"
        class="notification-item flex justify-between items-start mx-2 bg-white my-2 border border-gray-500"
      >
        <div>
          <span class="block font-bold text-base">{{ not.title }}</span>
          <span class="block text-sm">{{ not.message }}</span>
        </div>
        <div class="flex flex-col justify-center items-center">
          <div *ngIf="not.state == 'sent'" class="w-4 h-4 bg-primary rounded-full"></div>
          <span class="text-xs mt-2">{{ not.createdAt | date: 'shortTime' }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center w-full h-full p-28" *ngIf="!notifications || !notifications.length" >
    <div class="text-center" *ngIf="!loading">
      <img class="w-full" src="./../../../../assets/notification.svg" alt="">
      <span class="mt-3 block">{{ 'no_notifications' | translate }}</span>
    </div>
    <div class="border-4 border-l-0 border-t-0 border-primary rounded-full w-20 h-20 animate-spin" *ngIf="loading"></div>
  </div>
</div>
