<div class="bg-gray-100 h-full p-4">
  <div class="grid grid-cols-7 gap-4">
    <div class="col-span-2 card">
      <app-loading-line [loading]="productLoading"></app-loading-line>
      <div class="pt-3"><span class="text-2xl font-bold block capitalize">{{ 'product_details' | translate }} </span></div>
      <div class="h-36 w-36 bg-black rounded-xl mx-auto mt-4 overflow-hidden flex items-center">
        <img *ngIf="product" class="w-full" [src]="photo(product.photo)" alt="">
      </div>
      <div class="mt-2 text-center ">
        <span class="text-xl block font-bold mt-3">{{ product ? product.name : "" }}</span>
        <span>{{ product.description }}</span>
        <table>
          <tbody>
            <tr class="capitalize">
              <th>{{ 'category' | translate }}</th>
              <th>{{ 'store' | translate }}</th>
            </tr>
            <tr>
              <td>{{ product.category.name }}</td>
              <td><span [routerLink]="['/dashboard/stores/display']" [queryParams]="{id: product.store.id}" class="link">{{ product.store.storeName }}</span></td>
            </tr>
            <tr class="capitalize">
              <th>{{ 'stock' | translate }}</th>
              <th>{{ 'price' | translate }}</th>
            </tr>
            <tr>
              <td>{{ product.quantity }}</td>
              <td>{{ product.price }} SAR</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-span-5 card flex flex-col">
      <div>
        <app-loading-line [loading]="salesChartLoading"></app-loading-line>
        <div class="pt-3"><span class="text-2xl font-bold block">{{ 'product_sales' | translate }} </span></div>
      </div>
      <div class="flex flex-col flex-grow justify-end">
        <app-line-chart
          [categories]="chart.categories"
          [title]="chart.title"
          [dataName]="chart.name"
          [values]="chart.values"
        >
        </app-line-chart>
      </div>
    </div>
  </div>

</div>
