/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// body, html{
//   height: 100%;
// }

input, select{
  @apply focus:outline-none
}

.color-transition{
  @apply transition-all duration-300
}

.custom-input{
  @apply block w-full text-primary px-2 py-3 rounded-xl focus:outline-none transition-all duration-700 bg-gray-100 border
   focus:border-primary
}

.custom-input.invalid{
  @apply border-2 border-red-600 focus:shadow-md bg-red-200
}

.custom-input.invalid:focus{
  @apply bg-gray-100
}

.custom-button{
  @apply text-white bg-primary rounded-xl w-full px-2 py-3 hover:opacity-90 transition-all duration-500 appearance-none
}

.custom-button:disabled{
  @apply opacity-60 cursor-not-allowed
}

.spinner{
  @apply w-20 h-20 bg-primary rounded-full animate-ping
}

.link{
  @apply hover:underline hover:text-blue-500 cursor-pointer
}

@import "~leaflet/dist/leaflet.css"
