
<div class="h-full flex flex-col min-h-0 ">
  <div class="flex">
    <div class="message-tab active" [class.active]="section == 'stores'" (click)="changeSection('stores')">Stores</div>
    <div class="message-tab" [class.active]="section == 'clients'" (click)="changeSection('clients')">Clients</div>
    <div class="message-tab" [class.active]="section == 'delivery men'" (click)="changeSection('delivery men')">Delivery men</div>
  </div>
  <div class="p-3">
    <div class="search-input flex">
      <input class="flex-grow h-full bg-transparent" type="text" [placeholder]="'search for ' + section">
      <button class="px-1 text-gray-400">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div class="flex justify-center" *ngIf="loading">
    <div class="h-1 bg-primary animate-ping w-1/2"></div>
  </div>
  <div class="flex-grow overflow-y-auto min-h-0">
    <div *ngFor="let account of accounts()" class="user-list-item justify-between" [class.selected]="selectedAccount == account.id">
      <div class="flex items-center">
        <img class="w-12 h-12 bg-gray-400 rounded-full" [src]="accountAvatar()" alt="">
        <span class="ml-3 text-lg">{{ account.name }}</span>
      </div>
      <div class="bg-primary text-white flex justify-center items-center w-6 h-6 text-sm rounded-full ">
        <span>1</span>
      </div>
    </div>
    <div class="p-1">
      <app-alert *ngIf="!accounts().length && !loading&& !error" type="info" [message]="'there is no message with ' + section + ' yet'"></app-alert>
      <app-alert type="danger" [message]="error" *ngIf="error"></app-alert>
    </div>
  </div>
</div>
