
<div class="h-full flex flex-col min-h-0 ">
  <div class="flex">
    <div class="message-tab active" [class.active]="usersRole == 'store'" (click)="changeUsersRole('store')">Stores</div>
    <div class="message-tab" [class.active]="usersRole == 'client'" (click)="changeUsersRole('client')">Clients</div>
    <div class="message-tab" [class.active]="usersRole == 'delivery man'" (click)="changeUsersRole('delivery man')">Delivery men</div>
  </div>
  <div class="p-3">
    <div class="search-input flex">
      <input class="flex-grow h-full bg-transparent" type="text" [placeholder]="'search for ' + usersRole">
      <button class="px-1 text-gray-400">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div class="flex justify-center" *ngIf="loading">
    <div class="h-1 bg-primary animate-ping w-1/2"></div>
  </div>
  <div class="flex-grow overflow-y-auto min-h-0">
    <div *ngFor="let msgAccount of accounts" class="user-list-item justify-between" (click)="select(msgAccount)" [class.selected]="isSelected(msgAccount)">
      <div class="flex items-center">
        <img class="w-12 h-12 bg-gray-400 rounded-full" [src]="accountAvatar()" alt="">
        <div class="ml-3">
          <span class="block text-lg">{{ msgAccount.account.name }}</span>
          <span class="block text-sm" *ngIf="!isSelected(msgAccount)">{{ lastMessage(msgAccount) }}</span>
        </div>
      </div>
      <div class="bg-primary flex justify-center items-center text-white w-7 h-7 rounded-full text-xs" *ngIf="!isSelected(msgAccount) && msgAccount.newMessages &&  msgAccount.newMessages > 0">
        <span>{{ msgAccount.newMessages }}</span>
      </div>
      <!-- <div class="bg-primary text-white flex justify-center items-center w-6 h-6 p-2 text-sm rounded-full ">
        <span>{{ msgAccount.newMessages }}</span>
      </div> -->
    </div>
    <div class="p-1">
      <app-alert *ngIf="!accounts.length && !loading&& !error" type="info" [message]="'there is no message with ' + usersRole + ' yet'"></app-alert>
      <app-alert type="danger" [message]="error" *ngIf="error"></app-alert>
    </div>
  </div>
</div>
